@{
    ViewData["Title"] = "Home Page";
}
@model List<Charities.Data.Models.Charity>

<header class="hero">
    <div class="container p-sm-0">
        <div class="row align-items-center justify-content-between">
            <div class="col-12 col-md-7 col-lg-6">
                <h1 class="global__title global__title-dark">
                    Fundraising for the people and cause
                    you care
                </h1>
                <p class="global__desc">
                    We provide a trusted donation channel for peoples of worldwide to support
                    people and organizers.
                    Crowdfunding is a way
                    to raise money for an individual or organization by collecting donations through strangers and
                    more.
                </p>
            </div>
            <div class="col-12 col-md-5 p-0 text-end d-none d-md-block position-relative">
                <img class="img-fluid" src="~/assets/img/header-img.png" alt="image">
                <div class="hero__hand">
                    <img class="img-fluid" src="~/assets/img/hand-fist.png" alt="hand image">
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Hero END -->
<!-- Cases START -->
<div class="cases global__py pb-5">
    <div class="container p-sm-0">
        <div class="row">
            <div class="col-12 col-md-9 col-lg-6 text-center m-auto" data-aos="fade-down" data-aos-duration="1000">
                <h3 class="global__text">Our cases</h3>
                <h2 class="global__heading">
                    Popular causes what you should know
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="cases__slider">
                @if (!this.User.IsInRole("Administrator"))
                {
                    @if (Model.Where(c=>c.IsApproved==true && c.IsDeleted==false).ToList().Count == 0)
                    {
                        <h3 class="global__text">There are no cases currently!</h3>
                    }
                    else
                    {
                        @foreach (var charity in Model.Where(c=>c.IsApproved==true && c.IsDeleted==false).ToList())
                        {
                            <div class="card cases__card">
                                <div class="cases__card-img">
                                    <a asp-controller="Cases" asp-action="DetailsCase" asp-route-id="@charity.Id">
                                        <img class="img-fluid w-100" src="@charity.ImageUrl" alt="image">
                                    </a>
                                    <h4 class="cases__card-tag">@charity.Category?.Name</h4>
                                </div>
                                <div class="card-body px-4">
                                    <div class="d-flex">
                                        <img class="cases__card-i" src="~/assets/img/location.svg" alt="icon">
                                        <span class="cases__card-location ps-1">
                                            @charity.Location
                                        </span>
                                    </div>
                                    <div class="">
                                        <a asp-controller="Cases" asp-action="DetailsCase" asp-route-id="@charity.Id" class="cases__card-title">
                                            @charity.Name
                                        </a>
                                    </div>
                                    <div class="cases__card-range">
                                        <p class="global__desc m-0">Founded:  @(Math.Round(Convert.ToDecimal(charity.Donations.Sum(d => d.Amount)/charity.FundsNeeded)*100)) %</p>
                                        <div class="progress cases__card-progress">
                                            <div class="progress-bar cases__card-progress--bar" role="progressbar"
                                     style="width: @((charity.Donations.Sum(d => d.Amount)/charity.FundsNeeded)*100)%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                        <div class="cases__card-range--bottom">
                                            <div class="d-flex align-items-center cases__card-range--bottom---m gap-2">
                                                <img class="cases__card-range--dollar" src="~/assets/img/box.svg" alt="icon">
                                                <span class="cases__card-range--price">
                                                    Rasied: $@charity.Donations.Sum(d=>d.Amount)
                                                </span>
                                            </div>
                                            <div class="d-flex align-items-center gap-2">
                                                <img class="cases__card-range--dollar" src="~/assets/img/dollar-s.svg"
                                         alt="icon">
                                                <span class="cases__card-range--price">goal: $@charity.FundsNeeded</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
                else
                {
                    @if (Model.Where(c=>c.IsApproved==false && c.IsRejected==false).ToList().Count == 0)
                    {
                        <h3 class="global__text">There are no cases that need to be approved currently!</h3>
                    }
                    else
                    {
                        @foreach (var charity in Model.Where(c=>c.IsApproved==false && c.IsRejected==false).ToList())
                        {
                            <div class="card cases__card">
                                <div class="cases__card-img">
                                    <a asp-controller="Cases" asp-action="DetailsCase" asp-route-id="@charity.Id">
                                        <img class="img-fluid w-100" src="@charity.ImageUrl" alt="image">
                                    </a>
                                    <h4 class="cases__card-tag">@charity.Category?.Name</h4>
                                </div>
                                <div class="card-body px-4">
                                    <div class="d-flex">
                                        <img class="cases__card-i" src="~/assets/img/location.svg" alt="icon">
                                        <span class="cases__card-location ps-1">
                                            @charity.Location
                                        </span>
                                    </div>
                                    <div class="">
                                        <a asp-controller="Cases" asp-action="DetailsCase" asp-route-id="@charity.Id" class="cases__card-title">
                                            @charity.Name
                                        </a>
                                    </div>
                                    <div class="cases__card-range">
                                        <p class="global__desc m-0">Founded:  @(Math.Round(Convert.ToDecimal(charity.Donations.Sum(d => d.Amount)/charity.FundsNeeded)*100)) %</p>
                                        <div class="progress cases__card-progress">
                                            <div class="progress-bar cases__card-progress--bar" role="progressbar"
                                     style="width: @((charity.Donations.Sum(d => d.Amount)/charity.FundsNeeded)*100)%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                        <div class="cases__card-range--bottom">
                                            <div class="d-flex align-items-center cases__card-range--bottom---m gap-2">
                                                <img class="cases__card-range--dollar" src="~/assets/img/box.svg" alt="icon">
                                                <span class="cases__card-range--price">
                                                    Rasied: $@charity.Donations.Sum(d=>d.Amount)
                                                </span>
                                            </div>
                                            <div class="d-flex align-items-center gap-2">
                                                <img class="cases__card-range--dollar" src="~/assets/img/dollar-s.svg"
                                         alt="icon">
                                                <span class="cases__card-range--price">goal: $@charity.FundsNeeded</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>
<!-- Cases END -->
<!-- About START -->
<div class="about global__py">
    <div class="container p-sm-0">
        <div class="row">
            <div class="col-6 my-auto my-xl-0">
                <div class="d-none d-lg-flex gap-4" data-aos="fade-right" data-aos-duration="1000">
                    <div class="about__image">
                        <img class="img-fluid" src="~/assets/img/add-1.png" alt="image">
                    </div>
                    <div class="about__image">
                        <img class="img-fluid" src="~/assets/img/add-2.png" alt="image">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-9 col-lg-6" data-aos="fade-left" data-aos-duration="1000">
                <h2 class="about__heading global__heading">
                    We are the Powerful, Free Fundraising Platform
                </h2>
                <p class="about__desc global__desc mb-3">
                    Amet, consectetur adipiscing elit. Etiam eu turpis
                    molestie,
                    dictum est
                    a, mattis tellus. Sed dignissim, metus nec
                    fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus.
                    Maecenas eget condimentum velit,
                    sit amet feugiat risus sem sollicitudin lectus.
                </p>
                <p class="about__desc global__desc m-0">
                    Consectetur adipiscing elit. Etiam eu turpis molestie,
                    dictum
                    est a,
                    mattis tellus. Sed dignissim, metus nec fringilla
                    accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. Maecenas eget
                    condimentum.
                </p>
                <div class="">
                    <ul class="about__list">
                        <li>
                            <img class="cases__card-range--dollar p-1 me-2" src="~/assets/img/check.svg" alt="icon">
                            <span class="global__desc m-0">
                                Start your campaigns
                            </span>
                        </li>
                        <li>
                            <img class="cases__card-range--dollar p-1 me-2" src="~/assets/img/check.svg" alt="icon">
                            <span class="global__desc m-0">
                                Share with friends
                            </span>
                        </li>
                        <li>
                            <img class="cases__card-range--dollar p-1 me-2" src="~/assets/img/check.svg" alt="icon">
                            <span class="global__desc m-0">
                                Manage Donations
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- About END -->
<!-- Service START -->
<!-- Service END -->
<!-- Org START -->
<div class="org global__py pt-0">
    <div class="container p-sm-0">
        <div class="row">
            <div class="col-12 col-md-9 col-lg-7 text-center m-auto service__m" data-aos="fade-down"
                 data-aos-duration="1000">
                <h2 class="global__heading m-0">
                    The mission and org of our organization.
                </h2>
                <p class="org__desc global__desc mt-3 mb-0">
                    We provide a trusted platform for peoples of worldwide
                    to support people and organizers.
                </p>
            </div>
        </div>
        <div class="row align-items-xl-center">
            <div class="col-lg-6" data-aos="fade-left" data-aos-duration="1000">
                <ul>
                    <li class="org__li">
                        <div class="org__li-img">
                            <img class="org__li-img--icon" src="~/assets/img/campain.svg" alt="">
                        </div>
                        <div class="">
                            <h3 class="org__li-name">Manage your campaigns</h3>
                            <p class="org__desc global__desc mt-2 mb-0">
                                Track how many people signed the petition
                                by week, month, year.
                            </p>
                        </div>
                    </li>
                    <li class="org__li">
                        <div class="org__li-img">
                            <img class="org__li-img--icon" src="~/assets/img/donation.svg" alt="">
                        </div>
                        <div class="">
                            <h3 class="org__li-name">Collecting donation</h3>
                            <p class="org__desc global__desc mt-2 mb-0">
                                Campaign owners can set up to receive
                                donations from supporters.
                            </p>
                        </div>
                    </li>
                    <li class="org__li">
                        <div class="org__li-img">
                            <img class="org__li-img--icon" src="~/assets/img/money.svg" alt="">
                        </div>
                        <div class="">
                            <h3 class="org__li-name">Withdraw your money</h3>
                            <p class="org__desc global__desc mt-2 mb-0">
                                Withdraw your money to bank account or
                                Paypal easily with few set up.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 d-none d-sm-block mt-5 mt-lg-0" data-aos="fade-right" data-aos-duration="1000">
                <img class="img-fluid" src="~/assets/img/draw-img.png" alt="image">
            </div>
        </div>
    </div>
</div>
<!-- Org END -->
<!-- Num START -->
<div class="num">
    <div class="container p-sm-0">
        <div class="num__body">
            <div class="">
                <h4 class="num__body-digit"><span class="num__counter">@ViewBag.DonationsCount</span>+</h4>
                <p class="num__body-text">Donations</p>
            </div>
            <div class="">
                <h4 class="num__body-digit">$<span class="num__counter">@ViewBag.TotalFundsDonated</span>+</h4>
                <p class="num__body-text">Funds Raised</p>
            </div>
            <div class="">
                <h4 class="num__body-digit"><span class="num__counter">@ViewBag.VolunteersCount</span> </h4>
                <p class="num__body-text">Volunteers</p>
            </div>
            <div class="">
                <h4 class="num__body-digit"><span class="num__counter">@ViewBag.ProjectsCount</span></h4>
                <p class="num__body-text">projects</p>
            </div>
        </div>
    </div>
</div>
<!-- Num END -->
